//Font Type/Weight
@mixin google-font($font, $style) {
    font-family: $font;
    font-style: normal;
  @if $style == italic {
    font-style: italic;
  } @else if $style == light {
    font-weight: 300;
  } @else if $style == lightitalic {
    font-weight: 300;
    font-style: italic;
  } @else if $style == book {
    font-weight: 400;
  } @else if $style == bookItalic {
    font-weight: 400;
    font-style: italic;
  } @else if $style == med {
    font-weight: 500;
  } @else if $style == medItalic {
    font-weight: 500;
    font-style: italic;
  } @else if $style == semibold {
    font-weight: 600;
  } @else if $style == semiboldItalic {
    font-weight: 600;
    font-style: italic;
  } @else if $style == bold {
    font-weight: 700;
  } @else if $style == boldItalic {
    font-weight: 700;
    font-style: italic;
  } @else if $style == black {
    font-weight: 800;
  } @else if $style == blackItalic {
    font-weight: 800;
    font-style: italic;
  }
}

@mixin font-size ($size) {
  $remValue: $size / 16;
  $pxValue: ($size);
  font-size: $pxValue + px;
  font-size: $remValue + rem;
}
@mixin line-height ($size) {
  $remValue: $size / 16;
  $pxValue: ($size);
  line-height: $pxValue + px;
  line-height: $remValue + rem;
}
@mixin list-inline {
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
  }
}
@mixin list-nostyle {
  list-style-type: none;
  padding: 0;
}

@mixin button ($color, $font-color) {
  background-color: $color;
  color: $font-color;
  padding: $main-gutter / 2 $main-gutter;
  display: inline-block;
  text-align: center;
  padding: 15px 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  @include font-size(16);
  @include transition-duration(0.2s);
  &:hover {
    background-color: tint($color, 20%);
    color: $font-color;
  }
}

@mixin button-block ($color, $font-color) {
  background-color: $color;
  color: $font-color;
  padding: $main-gutter / 2 $main-gutter;
  display: block;
  text-align: center;
  @include transition-duration(0.2s);
  &:hover {
    background-color: tint($color, 20%);
    color: $font-color;
  }
}
