@mixin clearfix {
  &:before, &:after {
    display: table;
    content: '';
    clear: both;
  }
}

@mixin wrap {
  max-width: $page-width;
  margin: 0 auto;
}

@mixin single($gutter, $pos) {
  width: 100%;
  float: none;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin half($gutter, $pos) {
  width: 50%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin third($gutter, $pos) {
  width: 33.333%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin two-third($gutter, $pos) {
  width: 66.666%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin fourth($gutter, $pos) {
  width: 25%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin three-fourth($gutter, $pos) {
  width: 75%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin fifth($gutter, $pos) {
  width: 20%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin two-fifth($gutter, $pos) {
  width: 40%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin three-fifth($gutter, $pos) {
  width: 60%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin four-fifth($gutter, $pos) {
  width: 80%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin sixth($gutter, $pos) {
  width: 16.666%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin two-sixth($gutter, $pos) {
  width: 16.666%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin five-sixth($gutter, $pos) {
  width: 83.333%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin seventh($gutter, $pos) {
  width: 14.285%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin two-seventh($gutter, $pos) {
  width: 28.57%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin three-seventh($gutter, $pos) {
  width: 42.855%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin four-seventh($gutter, $pos) {
  width: 57.14%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin five-seventh($gutter, $pos) {
  width: 71.425%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin six-seventh($gutter, $pos) {
  width: 85.71%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin eighth($gutter, $pos) {
  width: 12.5%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin seven-eighth($gutter, $pos) {
  width: 87.5%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin nineth($gutter, $pos) {
  width: 11.111%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin two-nineth($gutter, $pos) {
  width: 22.222%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin four-nineth($gutter, $pos) {
  width: 44.444%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin five-nineth($gutter, $pos) {
  width: 55.555%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin seven-nineth($gutter, $pos) {
  width: 77.777%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin eight-nineth($gutter, $pos) {
  width: 88.888%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin tenth($gutter, $pos) {
  width: 10%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin two-tenth($gutter, $pos) {
  width: 20%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin three-tenth($gutter, $pos) {
  width: 30%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin four-tenth($gutter, $pos) {
  width: 40%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin six-tenth($gutter, $pos) {
  width: 60%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin seven-tenth($gutter, $pos) {
  width: 70%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin eight-tenth($gutter, $pos) {
  width: 80%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin nine-tenth($gutter, $pos) {
  width: 90%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin eleventh($gutter, $pos) {
  width: 9.0909%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin two-eleventh($gutter, $pos) {
  width: 18.1818%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin three-eleventh($gutter, $pos) {
  width: 27.2727%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin four-eleventh($gutter, $pos) {
  width: 36.3636%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin five-eleventh($gutter, $pos) {
  width: 45.4545%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin six-eleventh($gutter, $pos) {
  width: 54.5454%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin seven-eleventh($gutter, $pos) {
  width: 63.6363%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin eight-eleventh($gutter, $pos) {
  width: 72.7272%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin nine-eleventh($gutter, $pos) {
  width: 81.8181%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin ten-eleventh($gutter, $pos) {
  width: 90.909%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}

@mixin twelfth($gutter, $pos) {
  width: 8.333%;
  float: $pos;
  box-sizing: border-box;
  padding: 0 $gutter $gutter 0;
}
