.single-post {
  margin-bottom: 60px;
  @include respond-to($ipad-port + 1) {
    display: table;
  }
  .featured-image, .content {
    @include respond-to($ipad-port + 1) {
      display: table-cell;
    }
  }
  .featured-image {
    background-position: center;
    background-size: cover;
    @include respond-to($ipad-port + 1) {
      width: 35%;
    }
    @include respond-at($ipad-port) {
      height: 250px;
      margin-bottom: 15px;
    }
  }
  .content {
    @include respond-to($ipad-port + 1) {
      padding-left: 30px;
      &.no-pad {
        padding-left: 0;
      }
    }
  }
  .meta {
    margin-bottom: 30px;
    li {
      border-bottom: 1px solid $black;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }
  }
}
