section {
  &.rich_text {
    .inner {
      .wrap {
        .content {
          position: relative;
          margin: 70px 0;
          .inner {
            @include rich-mix($white, $white, 15px);
            padding: 70px;
          }
        }
      }
      &.red {
        .wrap {
          .content { background-color: $red; }
        }
      }
      &.blue {
        .wrap {
          .content { background-color: $blue; }
        }
      }
      &.green {
        .wrap {
          .content { background-color: $green; }
        }
      }
      &.green-light {
        .wrap {
          .content { background-color: $green-light; }
        }
      }
      &.gray {
        .wrap {
          .content { background-color: $gray; }
        }
      }
    }
  }
}
