.content-box {
  @include scale-up($mobile + 1) {
    @include clip(polygon(0 2%, 100% 0%, 97% 98%, 2% 100%));
    &.box-alt {
      @include clip(polygon(1% 0, 99% 2%, 100% 93%, 0 100%));
    }
  }
}
.inner {
  &.red {
    background-color: $blue;
    .wrap {
      .content { background-color: $red; }
    }
  }
  &.blue {
    background-color: $red;
    .wrap {
      .content { background-color: $blue; }
    }
  }
  &.green {
    background-color: $yellow;
    .wrap {
      .content { background-color: $green; }
    }
  }
  &.yellow {
    background-color: $green;
    .wrap {
      .content { background-color: $yellow; }
    }
  }
  &.green-light {
    background-color: $yellow;
    .wrap {
      .content { background-color: $green-light; }
    }
  }
  &.gray {
    background-color: $blue;
    .wrap {
      .content { background-color: $gray; }
    }
  }
}
