.single-business {
  @include scale-up($ipad-port + 1) {
    height: 100%;
  }
  main {
    @include scale-up($ipad-port + 1) {
      height: 100%;
    }
    .inner-business {
      @include scale-up($ipad-port + 1) {
        height: calc(100% - 128px);
        width: 100%;
        overflow: auto;
      }
      @include scale-down-between($ipad-port, $mobile) {
        margin-top: 120px;
      }
      @include scale-down($mobile) {
        margin-top: 80px;
      }
      @include background-cover(center);
      &.bottom-left {
        background-position: bottom left;
      }
      &.bottom-right {
        background-position: bottom right;
      }
      &.top-left {
        background-position: top left;
      }
      &.top-right {
        background-position: top right;
      }
      &.center-left {
        background-position: center left;
      }
      &.center-right {
        background-position: center right;
      }
      .featured-image {
        @include background-cover(center);
        @include scale-up($ipad-port + 1) {
          display: none;
        }
        @include scale-down($ipad-port) {
          height: 300px;
        }
        &.bottom-left {
          background-position: bottom left;
        }
        &.bottom-right {
          background-position: bottom right;
        }
        &.top-left {
          background-position: top left;
        }
        &.top-right {
          background-position: top right;
        }
        &.center-left {
          background-position: center left;
        }
        &.center-right {
          background-position: center right;
        }
      }
      .copy-block, .quote-block {
        &.bottom-left,
        &.bottom-right,
        &.top-left,
        &.top-right {
          @include scale-up($ipad-port + 1) {
            position: absolute;
          }
        }
        &.bottom-left {
          @include scale-up($ipad-port + 1) {
            bottom: 170px;
            left: 50px;
          }
        }
        &.bottom-right {
          @include scale-up($ipad-port + 1) {
            bottom: 170px;
            right: 50px;
          }
        }
        &.top-left {
          @include scale-up($ipad-port + 1) {
            top: 210px;
            left: 50px;
          }
        }
        &.top-right {
          @include scale-up($ipad-port + 1) {
            top: 210px;
            right: 50px;
          }
        }
      }
    }
    .copy-block {
      @include rich-mix($white, $white, 30px);
      @include box-sizing(border-box);
      background-color: $red;
      padding: 30px;
      @include scale-up($ipad-port + 1) {
        max-width: 500px;
        width: 40%;
      }
    }
    .quote-block {
      @include box-sizing(border-box);
      padding: 50px;
      background-color: $green;
      color: $white;
      @include scale-up($ipad-port + 1) {
        max-width: 1000px;
        width: 45%;
      }
      blockquote {
        margin: 0;
        @include font-size(30);
        @include line-height(34);
        position: relative;
        span {
          @include font-size(60);
          @include line-height(4);
          &.lq {
            top: 25px;
            left: -20px;
            position: absolute;
          }
          &.rq {
            top: 20px;
            position: relative;
          }
        }
      }
    }
    .label {
      background-color: $gray;
      width: 100%;
      @include scale-up($ipad-port + 1) {
        position: fixed;
        bottom: 46px;
        left: 0;
        z-index: 4;
      }
      &:before {
        @include scale-up($ipad-port + 1) {
          content: '';
          height: 5px;
          background-color: $blue;
          position: absolute;
          top: -10px;
          left: 0;
          width: 100%;
        }
      }
      .inner {
        padding: 30px 20px 25px;
        border-bottom: 1px solid rgba($white, 0.2);
      }
      h1 {
        color: $white;
        margin: 0;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 5px;
        @include font-size(22);
        @include line-height(26);
      }
    }
  }
  footer {
    @include scale-up($ipad-port + 1) {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
    }
    .wrap {
      max-width: none;
    }
  }
}
