.header {
  .navigation {
    > ul {
      > li {
        &:nth-child(5n - 4) {
          a {
            @media screen and (max-width: $lg) {
              background-color: $color1;
            }
            &:before {
              background-color: $color1;
            }
          }
        }
        &:nth-child(5n - 3) {
          a {
            @media screen and (max-width: $lg) {
              background-color: $color2;
            }
            &:before {
              background-color: $color2;
            }
          }
        }
        &:nth-child(5n - 2) {
          a {
            @media screen and (max-width: $lg) {
              background-color: $color5;
            }
            &:before {
              background-color: $color5;
            }
          }
        }
        &:nth-child(5n - 1) {
          a {
            @media screen and (max-width: $lg) {
              background-color: $color8;
            }
            &:before {
              background-color: $color8;
            }
          }
        }
        &:nth-child(5n) {
          a {
            @media screen and (max-width: $lg) {
              background-color: $color9;
            }
            &:before {
              background-color: $color9;
            }
          }
        }
        a {
          &:hover {
            @media screen and (min-width: ($md + 1)) {
              &:before {
                height: calc(100% - 50px);
              }
            }
          }

          &:before {
            @media screen and (min-width: ($lg + 1)) {
              content: '';
              display: block;
              height: calc(100% - 60px);
              transition-duration: 0.3s;
              transition-timing-function: ease-in-out;
              width: 100%;
              z-index: 0;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }

        &.open,
        &:hover {
          ul {
            @media screen and (min-width: $md) {
              display: block;
            }
          }
        }

        &.sub-open {
          ul {
            @media screen and (max-width: ($md - 1)) {
              display: block;
            }
          }
        }
      }
    }
  }

  button {
    &.toggle {
      .bar {
        transform-origin: center;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
      &.open {
        .bar {
          &:nth-child(1),
          &:nth-child(3) {
            width: 20px;
          }
          &:nth-child(1) {
            transform: rotate(-45deg);
          }
          &:nth-child(3) {
            transform: rotate(45deg) translateX(-4px) translateY(-21px);
          }
          &:nth-child(2) {
            transform: scale(0) translateY(-21px);
          }
        }
      }
    }
  }
}
