//******************//
//***** GLOBAL *****//
//******************//
body,
html {
  @include font-size(16);
  @include line-height(26);
  margin: 0;
  font-family: $main-sans;
  background-color: $blue;
  overflow-x: hidden;
  &.modal-open {
    overflow: hidden;
  }
}

.wrap {
  @include wrap;
  @include clearfix;
  box-sizing: content-box;
  padding: 0 $main-gutter;
}

//**********************//
//***** TYPOGRAPHY *****//
//**********************//
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, form {
  margin: 0 0 $main-gutter;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul, ol {
  padding-left: 20px;
}

h1 {
  @include font-size(32);
  @include line-height(36);
}
h2 {
  @include font-size(28);
  @include line-height(32);
}
h3 {
  @include font-size(24);
  @include line-height(28);
}
h4 {
  @include font-size(22);
  @include line-height(26);
}
h5 {
  @include font-size(18);
  @include line-height(22);
}
h6 {
  @include font-size(16);
  @include line-height(20);
}

a {
  color: $red;
  text-decoration: none;
  &:hover {
    color: shade($red, 30%);
  }
}


.center-block {
  position: relative;
  border: 1px solid;
  height: 400px;
  @include overlay($black, 0.53, 3);
  @include background-image-cover('http://placehold.it/1200x800/bde4af/49f6ce', center);
  i {
    color: $white;
    @include font-size(50);
    @include vertical-center;
    text-align: center;
    z-index: 4;
    width: 100%;
    left: 0;
  }
}

.boxes {
  @include clearfix;
  margin-right: -$main-gutter;
  .box {
    @include third($main-gutter, left);
    .inner {
      border: 1px solid $black;
      height: 20px;
    }
    + .box {
      @include two-third($main-gutter, left);
    }
  }
}

.button {
  @include button-block($red, $white);
}
.button-inline {
  @include button($red, $white);
}

.video-container {
  @include video;
}
