header {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 10px 0 30px;
  @include scale-up($ipad-port + 1) {
    text-align: center;
  }
  @include scale-down($ipad-port) {
    padding-bottom: 15px;
  }
  &.top {
    @include clip(polygon(0 0, 100% 0, 100% 80%, 0 100%));
    @include scale-down($ipad-port) {
      @include clip(polygon(0 0, 100% 0, 100% 85%, 0 100%));
    }
  }
  > a {
    display: inline-block;
    @include scale-down-between($ipad-port, $mobile) {
      top: 10px;
    }
    @include scale-down($mobile) {
      top: 8px;
    }
    img {
      width: 100%;
      max-width: 300px;
      @include scale-down($mobile) {
        width: 60%;
      }
    }
  }
  @import 'modules/menu-toggle';
}
nav {
  &.business-nav {
    position: fixed;
    height: 100%;
    width: 400px;
    background-color: rgba($white, 0.95);
    top: 0;
    z-index: 5;
    transition-duration: 0.2s;
    padding: 0;
    overflow: auto;
    @include box-sizing(border-box);
    @include scale-up($mobile + 1) {
      right: -400px;
    }
    @include scale-down($mobile) {
      width: 100%;
      left: 100%;
    }
    &.open {
      @include box-shadow(0 0 50px -10px $black);
      @include scale-up($mobile + 1) {
        right: 0;
      }
      @include scale-down($mobile) {
        left: 0;
      }
    }
    .close-menu {
      cursor: pointer;
      padding: 10px 20px;
      margin: 20px auto;
      text-transform: uppercase;
      display: block;
      @include transition-duration(0.2s);
      @include scale-up($ipad-port + 1) {
        @include font-size(18);
        @include line-height(18);
        &:hover {
          background-color: rgba($black, 0.7);
          color: $white;
        }
      }
      @include scale-down($ipad-port) {
        text-align: right;
        @include font-size(16);
        @include line-height(16);
        i {
          @include font-size(18);
          @include line-height(18);
        }
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    > ul {
      border-bottom: 1px solid $black;
      > li {
        border-top: 1px solid $black;
        &.top-item {
          @include transition-duration(0.2s);
          > a {
            display: block;
            padding: 20px 15px;
            @include font-size(25);
            @include line-height(25);
            font-weight: 700;
            color: $black;
            text-transform: uppercase;
            @include transition-duration(0.2s);
            position: relative;
            @include scale-down($ipad-port) {
              padding: 20px 20px 12px;
              @include font-size(18);
              @include line-height(18);
            }
            i {
              right: 40px;
              @include transition-duration(0.2s);
              @include vertical-center;
              @include font-size(30);
              @include line-height(30);
              @include scale-down($ipad-port) {
                right: 20px;
                @include font-size(20);
                @include line-height(20);
              }
            }
          }
          &.open {
            > a {
              color: $white;
              i {
                &:before {
                  content: '\f106';
                }
              }
            }
          }
          &:hover {
            > a {
              color: $white;
            }
          }
        }
        a {
          cursor: pointer;
        }
        .drop-down {
          display: none;
          background: $white;
          ul {
            border-top: 1px solid tint($black, 10%);
            li {
              + li {
                border-top: 1px solid tint($black, 10%);
              }
              a {
                @include transition-duration(0.2s);
                @include font-size(22);
                @include line-height(26);
                display: block;
                padding: 15px 20px;
                color: $black;
                @include scale-down($ipad-port) {
                  @include font-size(16);
                  @include line-height(16);
                }
              }
            }
          }
        }
        &:nth-child(4n-3) {
          &.top-item {
            &.open, &:hover {
              > a {
                background-color: rgba($red, 0.7);
              }
              .drop-down {
                background-color: rgba($red, 0.1);
                li {
                  &:hover {
                    background-color: rgba($red, 0.5);
                  }
                }
              }
            }
          }
        }
        &:nth-child(4n-2) {
          &.top-item {
            &.open, &:hover {
              > a {
                background-color: rgba($yellow, 0.7);
              }
              .drop-down {
                background-color: rgba($yellow, 0.1);
                li {
                  &:hover {
                    background-color: rgba($yellow, 0.5);
                  }
                }
              }
            }
          }
        }
        &:nth-child(4n-1) {
          &.top-item {
            &.open, &:hover {
              > a {
                background-color: rgba($blue, 0.7);
              }
              .drop-down {
                background-color: rgba($blue, 0.1);
                li {
                  &:hover {
                    background-color: rgba($blue, 0.5);
                  }
                }
              }
            }
          }
        }
        &:nth-child(4n) {
          &.top-item {
            &.open, &:hover {
              > a {
                background-color: rgba($green, 0.7);
              }
              .drop-down {
                background-color: rgba($green, 0.1);
                li {
                  &:hover {
                    background-color: rgba($green, 0.5);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
