$main-sans:  'Josefin Sans', sans-serif, Helvetica, Arial, sans-serif !default;

//PAGE WIDTH
$page-width: 1170px;

$main-gutter: 20px;

//COLORS
$black: #000000;
$white: #FFFFFF;

//HCADA Colors
$red: #d74727;
$blue: #2175b8;
$green: #65943f;
$green-light: #8db268;
$gray: #5b5c5b;

//BREAKPOINTS
$mobile: 480px;
$ipad-land: 1024px;
$ipad-port: 768px;
$six-land: 667px;
$six-port: 375px;
$sixplus-land: 736px;
$sixplus-port: 414px;
