.inner-business {
  @include background-cover(center);
  .featured-image {
    margin-top: 15%;
    @include scale-up($ipad-port + 1) {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .main-content {
    @include clearfix;
    position: relative;
    @include scale-up($ipad-port + 1) {
      padding-bottom: 50px;
    }
    .copy-block {
      box-sizing: border-box;
      @include scale-up($ipad-port + 1) {
        max-width: 500px;
        width: 50%;
      }
      .inner {
        @include rich-mix($white, $white, 30px);
        box-sizing: border-box;
        background-color: $red;
        padding: 50px;
        @include scale-up($ipad-port + 1) {
          @include clip(polygon(0 2%, 100% 0%, 94% 100%, 4% 99%));
        }
        @include scale-down($ipad-port) {
          padding: 50px 30px;
        }
      }
      &.bottom-left {
        @include scale-up($ipad-port + 1) {
          float: left;
          margin: 450px 0 250px;
          padding-left: 50px;
        }
      }
      &.bottom-right {
        @include scale-up($ipad-port + 1) {
          float: right;
          margin: 450px 0 250px;
          padding-right: 50px;
        }
      }
      &.top-left {
        @include scale-up($ipad-port + 1) {
          float: left;
          margin: 250px 0 450px;
          padding-left: 50px;
        }
      }
      &.top-right {
        @include scale-up($ipad-port + 1) {
          float: right;
          margin: 250px 0 450px;
          padding-right: 50px;
        }
      }
      &.no-quote {
        @include scale-up($ipad-port + 1) {
          margin-bottom: 200px;
        }
      }
      &.red {
        .inner { background-color: $red; }
      }
      &.blue {
        .inner { background-color: $blue; }
      }
      &.green {
        .inner { background-color: $green; }
      }
      &.yellow {
        .inner { background-color: $yellow; }
      }
      &.green-light {
        .inner { background-color: $green-light; }
      }
      &.gray {
        .inner { background-color: $gray; }
      }
    }
    .quote-block {
      box-sizing: border-box;
      @include scale-up($ipad-port + 1) {
        max-width: 1000px;
        width: calc(50% - 50px);
      }
      &.red {
        .inner { background-color: $red; }
      }
      &.blue {
        .inner { background-color: $blue; }
      }
      &.green {
        .inner { background-color: $green; }
      }
      &.yellow {
        .inner { background-color: $yellow; }
      }
      &.green-light {
        .inner { background-color: $green-light; }
      }
      &.gray {
        .inner { background-color: $gray; }
      }
      &.bottom-left,
      &.bottom-right,
      &.top-left,
      &.top-right {
        @include scale-up($ipad-port + 1) {
          position: absolute;
        }
      }
      &.bottom-left {
        @include scale-up($ipad-port + 1) {
          bottom: 130px;
          left: 50px;
        }
      }
      &.bottom-right {
        @include scale-up($ipad-port + 1) {
          bottom: 130px;
          right: 50px;
        }
      }
      &.top-left {
        @include scale-up($ipad-port + 1) {
          top: 250px;
          left: 50px;
        }
      }
      &.top-right {
        @include scale-up($ipad-port + 1) {
          top: 250px;
          right: 50px;
        }
      }

      .inner {
        box-sizing: border-box;
        padding: 50px;
        background-color: $green;
        color: $white;
        @include scale-up($ipad-port + 1) {
          @include clip(polygon(1% 0, 99% 2%, 100% 93%, 0 100%));
        }
      }
      blockquote {
        margin: 0;
        @include font-size(30);
        @include line-height(34);
        position: relative;
        span {
          @include font-size(60);
          @include line-height(4);
          &.lq {
            top: 25px;
            left: -20px;
            position: absolute;
          }
          &.rq {
            top: 20px;
            position: relative;
          }
        }
      }
    }
  }
  .label {
    background-color: $gray;
    width: 100%;
    @include scale-up($ipad-port + 1) {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &:before {
      @include scale-up($ipad-port + 1) {
        content: '';
        height: 5px;
        background-color: $blue;
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
      }
    }
    &.red {
      &:before { background-color: $red; }
    }
    &.blue {
      &:before { background-color: $blue; }
    }
    &.green {
      &:before { background-color: $green; }
    }
    &.yellow {
      &:before { background-color: $yellow; }
    }
    &.green-light {
      &:before { background-color: $green-light; }
    }
    &.gray {
      &:before { background-color: $gray; }
    }
    .inner {
      padding: 30px 20px 25px;
      border-bottom: 1px solid rgba($white, 0.2);
      @include scale-down($ipad-port) {
        padding: 20px 30px 15px;
      }
    }
    h2 {
      color: $white;
      margin: 0;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 5px;
      @include font-size(22);
      @include line-height(26);
    }
  }
}

.single-business {
  background-color: $gray;
  .back-to-top {
    display: none;
  }
  header {
    @include clip(none);
    box-sizing: border-box;
    padding: 10px 0 5px 30px;
    .logo {
      img {
        max-width: 200px;
      }
    }
    .menu-toggle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: $black;
    }
  }
  footer {
    .wrap {
      max-width: none;
      @include scale-down($ipad-port) {
        padding: 0 30px;
      }
    }
  }
}
