.contactinfo {
  .links {
    .button {
      margin-left: 0;

      &:nth-child(3n - 1) {
        background-color: $color7;
      }
      &:nth-child(3n) {
        background-color: $seaFoam;
      }
    }
  }

  .map {
    @media screen and (min-width: ($lg + 1)) {
      min-height: calc(100% - 65px);
    }
  }
}
