.iconListBanner {
  .content-box {
    clip-path: url('#listBox');

    .itemIcon {
      width: 56px;
    }
    .itemTitle {
      @media screen and (min-width: ($sm + 1)) {
        width: calc(100% - 80px);
      }
    }
  }
}
