@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700");
/* line 4, ../scss/core/_base.scss */
body,
html {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin: 0;
  font-family: "Josefin Sans", sans-serif, Helvetica, Arial, sans-serif;
  background-color: #2175b8;
  overflow-x: hidden; }
  /* line 12, ../scss/core/_base.scss */
  body.logged-in,
  html.logged-in {
    margin-top: 0 !important; }
  /* line 15, ../scss/core/_base.scss */
  body.modal-open,
  html.modal-open {
    overflow: hidden; }

/* line 20, ../scss/core/_base.scss */
.wrap {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 20px; }
  /* line 2, ../scss/core/helpers/_layout.scss */
  .wrap:before, .wrap:after {
    display: table;
    content: '';
    clear: both; }

/* line 30, ../scss/core/_base.scss */
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, form {
  margin: 0 0 20px; }

/* line 34, ../scss/core/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* line 38, ../scss/core/_base.scss */
ul, ol {
  padding-left: 20px; }

/* line 42, ../scss/core/_base.scss */
h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 36px;
  line-height: 2.25rem; }

/* line 46, ../scss/core/_base.scss */
h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 32px;
  line-height: 2rem; }

/* line 50, ../scss/core/_base.scss */
h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 28px;
  line-height: 1.75rem; }

/* line 54, ../scss/core/_base.scss */
h4 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 26px;
  line-height: 1.625rem; }

/* line 58, ../scss/core/_base.scss */
h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem; }

/* line 62, ../scss/core/_base.scss */
h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem; }

/* line 67, ../scss/core/_base.scss */
a {
  color: #d74727;
  text-decoration: none; }
  /* line 70, ../scss/core/_base.scss */
  a:hover {
    color: #97321b; }

/* line 76, ../scss/core/_base.scss */
.center-block {
  position: relative;
  border: 1px solid;
  height: 400px;
  background-image: url("http://placehold.it/1200x800/bde4af/49f6ce");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 87, ../scss/core/helpers/_mixins.scss */
  .center-block:before {
    content: '';
    height: 100%;
    width: 100%;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.53); }
  /* line 82, ../scss/core/_base.scss */
  .center-block i {
    color: #FFFFFF;
    font-size: 50px;
    font-size: 3.125rem;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    z-index: 4;
    width: 100%;
    left: 0; }

/* line 93, ../scss/core/_base.scss */
.boxes {
  margin-right: -20px; }
  /* line 2, ../scss/core/helpers/_layout.scss */
  .boxes:before, .boxes:after {
    display: table;
    content: '';
    clear: both; }
  /* line 96, ../scss/core/_base.scss */
  .boxes .box {
    width: 33.333%;
    float: left;
    box-sizing: border-box;
    padding: 0 20px 20px 0; }
    /* line 98, ../scss/core/_base.scss */
    .boxes .box .inner {
      border: 1px solid #000000;
      height: 20px; }
    /* line 102, ../scss/core/_base.scss */
    .boxes .box + .box {
      width: 66.666%;
      float: left;
      box-sizing: border-box;
      padding: 0 20px 20px 0; }

/* line 108, ../scss/core/_base.scss */
.button {
  background-color: #d74727;
  color: #FFFFFF;
  padding: 10px 20px;
  display: block;
  text-align: center;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  /* line 89, ../scss/core/helpers/_typography.scss */
  .button:hover {
    background-color: #df6c52;
    color: #FFFFFF; }

/* line 111, ../scss/core/_base.scss */
.button-inline {
  background-color: #d74727;
  color: #FFFFFF;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  padding: 15px 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  /* line 76, ../scss/core/helpers/_typography.scss */
  .button-inline:hover {
    background-color: #df6c52;
    color: #FFFFFF; }

/* line 115, ../scss/core/_base.scss */
.video-container {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  height: 0;
  overflow: hidden; }
  /* line 39, ../scss/core/helpers/_mixins.scss */
  .video-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

/* line 119, ../scss/core/_base.scss */
#wpadminbar {
  right: 100%;
  left: inherit;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  /* line 123, ../scss/core/_base.scss */
  #wpadminbar:after {
    content: "ADMIN BAR";
    height: 32px;
    width: 120px;
    background: rgba(215, 71, 39, 0.5);
    position: absolute;
    left: 100%;
    display: block;
    padding: 0px 22px;
    cursor: pointer; }
    @media only screen and (max-width: 1024px) {
      /* line 123, ../scss/core/_base.scss */
      #wpadminbar:after {
        opacity: 0.2; } }
  /* line 137, ../scss/core/_base.scss */
  #wpadminbar:hover {
    right: 0; }

/* line 1, ../scss/core/_header.scss */
header {
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  @media only screen and (min-width: 769px) {
    /* line 1, ../scss/core/_header.scss */
    header {
      text-align: center; } }
  /* line 11, ../scss/core/_header.scss */
  header:before {
    content: '';
    display: block;
    background: #FFFFFF;
    width: 200%;
    height: 540px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    -moz-transform: translateX(-50%) rotate(-2deg);
    -ms-transform: translateX(-50%) rotate(-2deg);
    -webkit-transform: translateX(-50%) rotate(-2deg);
    transform: translateX(-50%) rotate(-2deg);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 768px) {
      /* line 11, ../scss/core/_header.scss */
      header:before {
        bottom: -15px; } }
    @media only screen and (max-width: 480px) {
      /* line 11, ../scss/core/_header.scss */
      header:before {
        bottom: -10px; } }
  /* line 29, ../scss/core/_header.scss */
  header a {
    display: inline-block;
    position: relative;
    top: 15px;
    z-index: 3; }
    @media screen and (max-width: 768px) and (min-width: 480px) {
      /* line 29, ../scss/core/_header.scss */
      header a {
        top: 10px; } }
    @media only screen and (max-width: 480px) {
      /* line 29, ../scss/core/_header.scss */
      header a {
        top: 8px; } }
    /* line 40, ../scss/core/_header.scss */
    header a img {
      width: 100%;
      max-width: 300px; }
      @media only screen and (max-width: 480px) {
        /* line 40, ../scss/core/_header.scss */
        header a img {
          width: 60%; } }
  /* line 1, ../scss/core/modules/_menu-toggle.scss */
  header .menu-toggle {
    position: absolute;
    top: 50px;
    right: 10px;
    display: inline-block;
    width: 30px;
    height: 16px;
    cursor: pointer;
    padding: 5px 10px; }
    @media only screen and (max-width: 480px) {
      /* line 1, ../scss/core/modules/_menu-toggle.scss */
      header .menu-toggle {
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); } }
    /* line 14, ../scss/core/modules/_menu-toggle.scss */
    header .menu-toggle span {
      margin: 0 auto;
      position: relative;
      top: 7px;
      width: 30px;
      height: 2px;
      background-color: #5b5c5b;
      display: block;
      -moz-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; }
      /* line 18, ../scss/core/modules/_menu-toggle.scss */
      header .menu-toggle span:before, header .menu-toggle span:after {
        position: absolute;
        content: ''; }
      /* line 26, ../scss/core/modules/_menu-toggle.scss */
      header .menu-toggle span:before, header .menu-toggle span:after {
        width: 30px;
        height: 2px;
        background-color: #5b5c5b;
        display: block; }
      /* line 32, ../scss/core/modules/_menu-toggle.scss */
      header .menu-toggle span:before {
        margin-top: -7px; }
      /* line 35, ../scss/core/modules/_menu-toggle.scss */
      header .menu-toggle span:after {
        margin-top: 7px; }
    @media only screen and (min-width: 481px) {
      /* line 40, ../scss/core/modules/_menu-toggle.scss */
      header .menu-toggle:before {
        content: 'MENU';
        color: #5b5c5b;
        font-weight: 100;
        opacity: 0;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        display: inline-block;
        padding-right: 5px;
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 100%;
        line-height: 1;
        margin-top: 2px; } }
    /* line 56, ../scss/core/modules/_menu-toggle.scss */
    header .menu-toggle:hover:before {
      opacity: 1; }
    /* line 60, ../scss/core/modules/_menu-toggle.scss */
    header .menu-toggle:hover span {
      background-color: rgba(91, 92, 91, 0);
      -moz-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    /* line 64, ../scss/core/modules/_menu-toggle.scss */
    header .menu-toggle span:before {
      -moz-transition-property: margin, -moz-transform;
      -o-transition-property: margin, -o-transform;
      -webkit-transition-property: margin, -webkit-transform;
      transition-property: margin, transform;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -moz-transition-delay: 0.2s, 0s;
      -o-transition-delay: 0.2s, 0s;
      -webkit-transition-delay: 0.2s, 0s;
      transition-delay: 0.2s, 0s;
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
    /* line 71, ../scss/core/modules/_menu-toggle.scss */
    header .menu-toggle:hover span:before {
      margin-top: 0;
      -moz-transform: rotate(22.5deg) skewX(22.5deg);
      -ms-transform: rotate(22.5deg) skewX(22.5deg);
      -webkit-transform: rotate(22.5deg) skewX(22.5deg);
      transform: rotate(22.5deg) skewX(22.5deg);
      -moz-transition-delay: 0s, 0.2s;
      -o-transition-delay: 0s, 0.2s;
      -webkit-transition-delay: 0s, 0.2s;
      transition-delay: 0s, 0.2s; }
    /* line 76, ../scss/core/modules/_menu-toggle.scss */
    header .menu-toggle span:after {
      -moz-transition-property: margin, -moz-transform;
      -o-transition-property: margin, -o-transform;
      -webkit-transition-property: margin, -webkit-transform;
      transition-property: margin, transform;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -moz-transition-delay: 0.2s, 0s;
      -o-transition-delay: 0.2s, 0s;
      -webkit-transition-delay: 0.2s, 0s;
      transition-delay: 0.2s, 0s;
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%; }
    /* line 83, ../scss/core/modules/_menu-toggle.scss */
    header .menu-toggle:hover span:after {
      margin-top: 0;
      -moz-transform: rotate(-22.5deg) skewX(-22.5deg);
      -ms-transform: rotate(-22.5deg) skewX(-22.5deg);
      -webkit-transform: rotate(-22.5deg) skewX(-22.5deg);
      transform: rotate(-22.5deg) skewX(-22.5deg);
      -moz-transition-delay: 0s, 0.2s;
      -o-transition-delay: 0s, 0.2s;
      -webkit-transition-delay: 0s, 0.2s;
      transition-delay: 0s, 0.2s; }

/* line 1, ../scss/core/_footer.scss */
footer {
  background-color: #5b5c5b;
  color: #FFFFFF;
  font-weight: 500;
  padding: 10px 0; }

/* line 1, ../scss/core/modules/_content-box.scss */
.content-box {
  -webkit-clip-path: polygon(0 2%, 100% 0%, 97% 98%, 2% 100%);
  clip-path: polygon(0 2%, 100% 0%, 97% 98%, 2% 100%); }
  /* line 3, ../scss/core/modules/_content-box.scss */
  .content-box.box-alt {
    -webkit-clip-path: polygon(0 2%, 100% 0%, 97% 98%, 2% 100%);
    clip-path: polygon(0 2%, 100% 0%, 97% 98%, 2% 100%); }

/* line 2, ../scss/widgets/_aspot.scss */
section.aspot {
  position: relative;
  z-index: 1;
  overflow: hidden;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  @media only screen and (min-width: 769px) {
    /* line 2, ../scss/widgets/_aspot.scss */
    section.aspot {
      height: 800px;
      padding-top: 60px; } }
  @media only screen and (max-width: 768px) {
    /* line 2, ../scss/widgets/_aspot.scss */
    section.aspot {
      height: 450px;
      margin-top: 60px; } }
  @media only screen and (max-width: 480px) {
    /* line 2, ../scss/widgets/_aspot.scss */
    section.aspot {
      height: 300px; } }
  /* line 18, ../scss/widgets/_aspot.scss */
  section.aspot .scroll-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      /* line 18, ../scss/widgets/_aspot.scss */
      section.aspot .scroll-image {
        transform: initial !important; } }
  /* line 27, ../scss/widgets/_aspot.scss */
  section.aspot nav {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0; }
    /* line 34, ../scss/widgets/_aspot.scss */
    section.aspot nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      /* line 2, ../scss/core/helpers/_layout.scss */
      section.aspot nav ul:before, section.aspot nav ul:after {
        display: table;
        content: '';
        clear: both; }
      /* line 39, ../scss/widgets/_aspot.scss */
      section.aspot nav ul li {
        display: block;
        width: 25%;
        float: left;
        box-sizing: border-box;
        padding: 0 0 0 0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px; }
        /* line 45, ../scss/widgets/_aspot.scss */
        section.aspot nav ul li + li {
          border-left: 1px solid #FFFFFF; }
        /* line 48, ../scss/widgets/_aspot.scss */
        section.aspot nav ul li a {
          display: inline-block;
          width: 100%;
          color: #FFFFFF; }

/* line 5, ../scss/widgets/_rich-text.scss */
section.rich_text .inner .wrap .content {
  position: relative;
  margin: 70px 0; }
  /* line 8, ../scss/widgets/_rich-text.scss */
  section.rich_text .inner .wrap .content .inner {
    padding: 70px; }
    /* line 149, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner p, section.rich_text .inner .wrap .content .inner li, section.rich_text .inner .wrap .content .inner h1, section.rich_text .inner .wrap .content .inner h2, section.rich_text .inner .wrap .content .inner h3, section.rich_text .inner .wrap .content .inner h4, section.rich_text .inner .wrap .content .inner h5, section.rich_text .inner .wrap .content .inner h6 {
      color: #FFFFFF; }
    /* line 152, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner p, section.rich_text .inner .wrap .content .inner li {
      font-weight: 300; }
    /* line 155, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner h1, section.rich_text .inner .wrap .content .inner h2, section.rich_text .inner .wrap .content .inner h3, section.rich_text .inner .wrap .content .inner h4, section.rich_text .inner .wrap .content .inner h5, section.rich_text .inner .wrap .content .inner h6 {
      font-weight: 600; }
    /* line 122, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner h1 {
      font-size: 55px;
      font-size: 3.4375rem;
      line-height: 59px;
      line-height: 3.6875rem; }
    /* line 126, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner h2 {
      font-size: 45px;
      font-size: 2.8125rem;
      line-height: 49px;
      line-height: 3.0625rem; }
    /* line 130, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner h3 {
      font-size: 35px;
      font-size: 2.1875rem;
      line-height: 39px;
      line-height: 2.4375rem; }
    /* line 134, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner h4 {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 34px;
      line-height: 2.125rem; }
    /* line 138, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner h5 {
      font-size: 25px;
      font-size: 1.5625rem;
      line-height: 29px;
      line-height: 1.8125rem; }
    /* line 142, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner h6 {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 24px;
      line-height: 1.5rem; }
    /* line 159, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner p, section.rich_text .inner .wrap .content .inner ul, section.rich_text .inner .wrap .content .inner h1, section.rich_text .inner .wrap .content .inner h2, section.rich_text .inner .wrap .content .inner h3, section.rich_text .inner .wrap .content .inner h4, section.rich_text .inner .wrap .content .inner h5, section.rich_text .inner .wrap .content .inner h6 {
      margin-bottom: 15px; }
    /* line 162, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner a {
      color: #FFFFFF;
      text-decoration: underline;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s; }
      /* line 166, ../scss/core/helpers/_mixins.scss */
      section.rich_text .inner .wrap .content .inner a:hover {
        color: #b3b3b3; }
    /* line 170, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner hr {
      margin: 20px 0;
      border-right: 0px;
      border-left: 0px;
      border-top: 4px dashed #FFFFFF;
      border-bottom: 4px dashed #FFFFFF;
      -moz-border-image: url("../images/dot.png") 13 round;
      -o-border-image: url("../images/dot.png") 13 round;
      -webkit-border-image: url("../images/dot.png") 13 round;
      border-image: url("../images/dot.png") 13 round; }
    /* line 178, ../scss/core/helpers/_mixins.scss */
    section.rich_text .inner .wrap .content .inner img {
      height: auto;
      max-width: 100%; }
      /* line 181, ../scss/core/helpers/_mixins.scss */
      section.rich_text .inner .wrap .content .inner img.aligncenter, section.rich_text .inner .wrap .content .inner img.alignleft, section.rich_text .inner .wrap .content .inner img.alignright {
        display: block; }
        @media only screen and (max-width: 768px) {
          /* line 181, ../scss/core/helpers/_mixins.scss */
          section.rich_text .inner .wrap .content .inner img.aligncenter, section.rich_text .inner .wrap .content .inner img.alignleft, section.rich_text .inner .wrap .content .inner img.alignright {
            margin-bottom: 20px; } }
      @media only screen and (min-width: 769px) {
        /* line 187, ../scss/core/helpers/_mixins.scss */
        section.rich_text .inner .wrap .content .inner img.aligncenter {
          margin: 0 auto 20px; } }
      @media only screen and (min-width: 769px) {
        /* line 192, ../scss/core/helpers/_mixins.scss */
        section.rich_text .inner .wrap .content .inner img.alignleft {
          float: left;
          margin: 0 20px 20px 0; } }
      @media only screen and (min-width: 769px) {
        /* line 198, ../scss/core/helpers/_mixins.scss */
        section.rich_text .inner .wrap .content .inner img.alignright {
          float: right;
          margin: 0 0 20px 20px; } }
/* line 16, ../scss/widgets/_rich-text.scss */
section.rich_text .inner.red .wrap .content {
  background-color: #d74727; }
/* line 21, ../scss/widgets/_rich-text.scss */
section.rich_text .inner.blue .wrap .content {
  background-color: #2175b8; }
/* line 26, ../scss/widgets/_rich-text.scss */
section.rich_text .inner.green .wrap .content {
  background-color: #65943f; }
/* line 31, ../scss/widgets/_rich-text.scss */
section.rich_text .inner.green-light .wrap .content {
  background-color: #8db268; }
/* line 36, ../scss/widgets/_rich-text.scss */
section.rich_text .inner.gray .wrap .content {
  background-color: #5b5c5b; }
