$main-font: 'Open Sans', sans-serif;

// Susy Grid system
// --------------------------
$susy: ( columns: 24 );

//PAGE WIDTH
$page-width: 1160px;

$ani-speed: 0.2s;

//COLORS
$black: #1b1d1a;
$white: #FFFFFF;

// HCADA Colors
$blue: #1a75bb;
$red: #d64408;
$green: #64912a;
$yellow: #f3be22;
$dark-blue: #212252;


//BREAKPOINTS
$mobile: 479px;
$ipad-land: 1023px;
$ipad-port: 767px;
$six-land: 666px;
$six-port: 374px;
$sixplus-land: 735px;
$sixplus-port: 413px;
