.menu-toggle {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50px;
  text-transform: uppercase;
  @include line-height(30);
  @include scale-down($mobile) {
    top: 33px;
  }
  span {
    display: inline-block;
    margin-right: 10px;
    transition-duration: 0.2s;
    @include scale-down($mobile) {
      @include font-size(12);
      @include line-height(12);
      margin-right: 5px;
    }
  }
  i {
    @include font-size(35);
    @include line-height(35);
    position: relative;
    top: 4px;
    @include scale-down($mobile) {
      top: 3px;
      @include font-size(25);
      @include line-height(25);
    }
  }
  &:hover {
    span {
      margin-right: 20px;
    }
  }
  &.top {
    color: $black;
    text-transform: uppercase;
  }
  &.over {
    position: fixed;
    color: $white;
    top: 0;
    @include scale-down(1500px) {
      top: 5px;
      span {
        @include scale-down(1500px) {
          @include font-size(14);
          @include line-height(14);
          margin-right: 5px;
        }
      }
      i {
        @include scale-down(1500px) {
          top: 3px;
          @include font-size(27);
          @include line-height(27);
        }
      }
    }
    @include scale-down($ipad-port) {
      top: 2px;
    }
  }
}
