form {
  &.wpcf7-form {
    label, input[type="text"], input[type="email"], textarea {
      width: 100%;
    }
    input[type="submit"] {
      padding: 10px 50px;
      background-color: $red;
      color: $white;
      border: none;
      text-transform: uppercase;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
