@font-face {
  font-family: 'Glamour Absolute';
  src: url('/fonts/GlamourAbsolute-regular.eot');
  src: url('/fonts/GlamourAbsolute-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/GlamourAbsolute-regular.woff2') format('woff2'),
    url('/fonts/GlamourAbsolute-regular.woff') format('woff'),
    url('/fonts/GlamourAbsolute-regular.ttf') format('truetype'),
    url('/fonts/GlamourAbsolute-regular.svg#GlamourAbsolute-regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Glamour Absolute Condensed';
  src: url('/fonts/GlamourAbsoluteCondensed.eot');
  src: url('/fonts/GlamourAbsoluteCondensed.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/GlamourAbsoluteCondensed.woff2') format('woff2'),
    url('/fonts/GlamourAbsoluteCondensed.woff') format('woff'),
    url('/fonts/GlamourAbsoluteCondensed.ttf') format('truetype'),
    url('/fonts/GlamourAbsoluteCondensed.svg#GlamourAbsoluteCondensed')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Glamour Absolute Extended';
  src: url('/fonts/GlamourAbsoluteExtended.eot');
  src: url('/fonts/GlamourAbsoluteExtended.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/GlamourAbsoluteExtended.woff2') format('woff2'),
    url('/fonts/GlamourAbsoluteExtended.woff') format('woff'),
    url('/fonts/GlamourAbsoluteExtended.ttf') format('truetype'),
    url('/fonts/GlamourAbsoluteExtended.svg#GlamourAbsoluteExtended')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
