// breakpoints
$xs: 360px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
// colors
$white: #ffffff;
$shadow: #1a405985;
$black: #1a4059;
$color1: #ee6e24;
$color2: #f0874c;
$color3: #f19c1b;
$color4: #f5c00e;
$color5: #c8d92b;
$color6: #a5cd39;
$color7: #6acbe1;
$color8: #45b1c9;
$color9: #aa88bf;
