// breakpoints
$xs: 360px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
// colors
$white: #ffffff;
$black: #1a4059;
$red: #f26e24;
$color1: #ee6e24;
$color2: #f0874c;
$color3: #f19c1b;
$orange: #f89c26;
$color4: #f5c00e;
$yellow: #ffc10e;
$color5: #c8d92b;
$color6: #a5cd39;
$color7: #6acbe1;
$color8: #45b1c9;
$blue: #2eb1c9;
$color9: #aa88bf;
